{% extends "base.html" %}

{% block title %}Editar Avance{% endblock %}

{% block content %}
    <div class="card w-75 mx-auto">
        <div class="card-header">
            <h1>Editar Avance del {{ avance.fecha_reporte }}</h1>
            <h2>Actividad: {{ avance.actividad.nombre_actividad }}</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_fecha" class="form-label">Fecha de Registro:</label>
                    <input type="date" name="fecha_reporte" id="id_fecha" class="form-control" value="{{ avance.fecha_reporte|date:'Y-m-d' }}" required>
                </div>
                <div class="mb-3">
                    <label for="id_cantidad" class="form-label">Avance Real del Día:</label>
                    <input type="number" step="0.01" name="cantidad_realizada" id="id_cantidad" class="form-control" value="{{ avance.cantidad_realizada_dia }}" required>
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <a href="{% url 'lista_avances' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}